@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Custom colors
$myGrey: #6a6864;
$myBrown: #51351f;
$myTan: #85704f;
$myTanLight: #b29674;
$myLight: #dcc8b5;

$primary: $myLight;

$body-background-color: #000;
