@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Faster+One&family=Fjalla+One&display=swap");

// Custom colors
$myGrey: #6a6864;
$myBrown: #51351f;
$myTan: #85704f;
$myTanLight: #b29674;
$myLight: #dcc8b5;

$neonGreen: #00ff01;
$yellow: #e9f61f;
$violet: #d21de7;

$primary: $neonGreen;
$info: $yellow;
$fontFasterOne: "Faster One", cursive;

$body-background-color: #000;
$family-primary: $family-monospace;
$family-secondary: "Anton", sans-serif;
//$family-secondary: "Fjalla One", sans-serif;
$text: $white;
$text-strong: white;

$button-background-color: white;
$button-family: $family-secondary;
$button-color: black;
$button-hover-color: lighten(black, 30);

$navbar-background-color: black;
$navbar-padding-vertical: 2rem;
//$navbar-item-img-max-height: 4rem;
$navbar-height: 5rem;

$content-heading-color: $white;

$footer-background-color: $black;
$footer-color: white;

$link: white;
$link-hover: #ccc;

$title-color: $white;
$title-family: $family-secondary;
$title-size: $size-2;
